@gutter: 30px;

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: (@gutter / 2);
  padding-left: (@gutter / 2);
  min-height: 1px;
  width: 100%;
  max-width: 500px;
  position: relative;
  @media (min-width: @sm) {
    max-width: 720px;
  }
  @media (min-width: @md) {
    max-width: 960px;
  }
  @media (min-width: @xl) {
    max-width: 1130px;
  }
}
