@import "../utils/_mixins";
@import "../utils/_variables";

.navbar {
  width: 100%;
  background: @primary;
  position: fixed;
  z-index: 999;
  a {
    color: @headerLinkDarken;
    display: inline-block;
    &:hover {
      color: @headerLink;
    }
  }
}

.navbar-right {
  .menu {
    display: flex;
    li {
      a {
        padding: 29px 23px;
        font-weight: 600;
        &:hover {
          background: @secondary;
        }
      }
      &:hover {
        .menu-depth-2 {
          opacity: 1;
          visibility: visible;
          z-index: 1;
        }
      }
    }
  }
  .menu-depth-2 {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: @transition;
    position: absolute;
    left: 0;
    z-index: -1;
    li {
      a {
        padding: 0;
        color: @headerSubMenuLink;
        font-weight: 400;
        &:hover {
          color: @secondary;
          background: transparent;
        }
      }
    }
    .top-pages {
      width: 50%;
      float: left;
    }
    .sub-menu {
      width: 50%;
      float: right;
      columns: 4;
      li {
        width: 100%;
      }
    }
  }
}

.desktop-navbar {
  //display: none;
  //position: relative;
  @media (min-width: 992px) {
    //.d-flex();
    //align-items: center;
    //justify-content: space-between;
  }
}

.mobile-navbar {
  @media (min-width: 992px) {
    display: none;
  }
}
