// Colors
@primary: #37495e;
@secondary: #ff9b51;

@headerLink: #fff;
@headerLinkDarken: rgba(@headerLink, .69);
@headerSubMenuLink: #333;

// Fonts
@font-primary: 'Open Sans', sans-serif;
@font-secondary: 'Raleway', sans-serif;

// Other
@transition: all .5s;
