// Colors
@primary: #37495e;
@secondary: #ff9b51;
@prim-text-color: #86878b;

@headerLink: #fff;
@headerLinkDarken: rgba(@headerLink, .69);
@headerSubMenuLink: #333;

// Font Family
@font-primary-link: 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap';
@font-secondary-link: 'https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap';

@font-primary: 'Open Sans', sans-serif;
@font-secondary: 'Raleway', sans-serif;

// Font sizes
@fs-h1: 40px;
@fs-h2: 36px;
@fs-h3: 20px;
@fs-h4: 16px;
@fs-h5: 12px;
@fs-h6: 8px;

@fs-main: 14px;

// Other
@line-height: 1.15;
@heading-margin-top: 15px;
@heading-margin-bottom: 15px;
@transition: all .5s;
